
main {
    display: flex;
    position: relative;
    min-height: 100vh;
}
.authpane {
    display: flex;
    position: relative;
    height: 100%;
    overflow: hidden;
    .info-pane,
    .login-pane {
        width: 65%;
        padding: 4.5rem;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        .page-title {
            font-size: 1.75rem;
            font-weight: 600;
            color: var(--brand-primary);
            margin-bottom: 0.875rem;
        }
        .page-tagline {
            margin-bottom: 2rem;
        }
        .feature-img {
            margin: 0 auto;
            display: block;
            width: 100%;
            max-width: 500px;
        }
    }
    .login-pane {
        width: 35%;
        background: var(--white);
        border-left: 1px solid var(--border-color);
        overflow-y: auto;
    }
}
.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.25rem;
    width: 85px;
    height: 100vh;
    overflow-y: auto;
    background: var(--brand-nav-bg);
    border-right: 1px solid var(--border-color);
    z-index: 9;
    .logo {
        display: block;
        text-align: center;
    }
    .menu-nav {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
        list-style: none;
        text-align: center;
        font-size: 1.5rem;
        li {
            padding: 0.65rem 0;
            position: relative;
            a {
                color: var(--grey-lite);
                transition: color 0.2s ease-in-out;
                &:hover {
                    color: rgba(var(--dark-font), $alpha: 0.1);
                    transition: color 0.2s ease-in-out;
                }
                .notify-count {
                    position: absolute;
                    background: var(--brand-primary);
                    top: 0;
                    right: 10px;
                    width: 20px;
                    height: 20px;
                    font-size: 0.75rem;
                    border-radius: var(--bdr-circle);
                    color: var(--white);
                    line-height: 20px;
                    text-align: center;
                }
                .profile-img {
                    display: inline-block;
                    width: 36px;
                    height: 36px;
                    margin: 0 auto;
                    background: var(--brand-secondary);
                    border: 1px solid var(--border-color);
                    border-radius: var(--bdr-circle);
                    color: var(--white);
                    font-size: 1.25rem;
                    line-height: 2;
                }
            }
        }
        & + .menu-nav {
            padding-top: 1rem;
            padding-bottom: 0;
            &::before {
                content: " ";
                position: absolute;
                border-top: 1px solid var(--border-color);
                margin-top: -20px;
                left: 0;
                right: 0;
            }
        }
    }
}
.push-menu {
    position: fixed;
    top: 0;
    left: 85px;
    width: 240px;
    height: 100vh;
    padding: 2rem;
    overflow-y: auto;
    background: var(--brand-primary);
    color: var(--white);
    z-index: 8;
    transform: translateX(-325px);
    transition: all 0.6s ease;
    visibility: hidden;
    // &.is-expand {
    // display: block;
    // transform: translateX(0px);
    //  }
    ul {
        list-style: none;
        li {
            padding: 0.5rem 0;
            &.list-header {
                font-size: 1.25rem;
                padding-bottom: 1rem;
            }
            a {
                font-size: 1rem;
                color: var(--white);
                transition: all 0.3s ease;
                &:hover {
                    opacity: 0.8;
                }
                span.fi {
                    display: inline-block;
                    margin: 2px 6px 0px 0px;
                    vertical-align: middle;
                }
            }
        }
    }
}
.menu-toggler {
    position: fixed;
    display: inline-block;
    background: var(--brand-nav-bg);
    border: 1px solid var(--border-color);
    border-radius: var(--bdr-circle);
    color: var(--grey-lite);
    width: 36px;
    height: 36px;
    line-height: 2;
    font-size: 1.5rem;
    text-align: center;
    top: 57px;
    left: 65px;
    z-index: 99;
    transition: all 0.6s ease;
    &.is-active {
        transform: rotate(-180deg);
        color: var(--brand-secondary);
        left: 307px;
    }
}
.main-wrapper {
    position: relative;
    height: 100%;
    min-height: 100vh;
    width: calc(100% - 85px);
    margin-left: 85px;
    padding: 2rem;
    &.is-shrink {
        @extend .main-wrapper;
        width: calc(100% - 325px);
        margin-left: 325px;
        transition: all 0.6s ease;
        .push-menu {
            visibility: visible;
            transform: translateX(0px);
        }
    }
    .page-title {
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--dark-font);
        margin-bottom: 1.25rem;
    }
    .page-tagline {
        font-size: 1.15rem;
    }
}
